﻿@{
    var applicationName = "RDV GESTION";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@applicationName - @ViewBag.Title</title>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="~/css/select2.min.css" rel="stylesheet" />
    @await Component.InvokeAsync("RegisterCommonsOffline")
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />


    <script src="~/js/select2.full.js"></script>
    @*<link rel="stylesheet" type="text/css" href="~/css/jquery.dataTables.min.css" />*@
    @*<script type="text/javascript" src="~/js/jquery.dataTables.min.js"></script>*@
</head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        @await Component.InvokeAsync("Header")
        @await Component.InvokeAsync("Sidebar")
        <div class="content-wrapper">
            <section class="content-header">
                @await Component.InvokeAsync("PageHeader")
                @await Component.InvokeAsync("Breadcrumb")
            </section>
            <section class="content container-fluid">
                @await Component.InvokeAsync("PageAlert")
                <section class="content no-padding">
                    @RenderBody()
                </section>
                @await Component.InvokeAsync(name: "ConfirmModal")
            </section>
        </div>
        @await Component.InvokeAsync("Footer")
        @await Component.InvokeAsync("ControlSidebar")
    </div>
    @RenderSection("Scripts", required: false)   
</body>
</html>
