﻿@using Microsoft.AspNetCore.Mvc
@using Newtonsoft.Json
@{
    ViewBag.Title = "Iniciar Sesión";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DGOD - @ViewBag.Title</title>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    @await Component.InvokeAsync("RegisterCommonsOffline")

</head>
@*Acá abajo va el wallpaper.*@
<body class="hold-transition login-page" style="background-image: url(/images/background.jpeg);
                                                background-size:     cover;
                                                background-repeat:   no-repeat;
                                                background-position: center center;
                                                height: auto;
                                                ">
    <div class="login-box bg-light-blue-active" style="border-radius: 10px">
        <br />
        <div class="login-logo">
            <a href="/IHome/Index" style="color: white"><b>Iglesia</b> RDV </a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body bg-light-blue-active no-pad-top" style="border-radius: 10px">

            @RenderBody()

        </div>
        <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->

    @RenderSection("scripts", required: false)
</body>
</html>

<!--<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIBAPIN - ViewBag.Title</title>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    await Component.InvokeAsync("RegisterCommonsOffline")

    <link href="~/css/login.css" rel="stylesheet" />

</head>
<body class="hold-transition login-page" style="background-image: url(/images/login.jpg);
                                                background-size:     cover;
                                                background-repeat:   no-repeat;
                                                background-position: center center;
                                                height: auto;
                                                ">
    <div class="login-box bg-info bg-light-blue-active" style="border-radius: 10px">
        <br />
        <div class="login-logo">
            <a href="/Home/Index" style="color: white"><b>SIBAPIN</b></a>
        </div>-->
<!-- /.login-logo -->
<!--<div class="login-box-body bg-light-blue-active no-pad-top" style="border-radius: 10px;">

    RenderBody()

</div>-->
<!-- /.login-box-body -->
<!--</div>-->
<!-- /.login-box -->
<!--RenderSection("scripts", required: false)
</body>
</html>-->
