﻿@using Commons.Models;
@model Page<Core.Data.Usuario>
<box-header title="Lista de Datos">
    <box-search update-div="tablaUsuario">
        <div class="input-group input-group-sm pull-right" style="max-width: 300px;">
            <a onclick="nuevoUsuario()" class="btn btn-info btn-sm">
                <i class="fa fa-plus"><span class="hidden-xs"> Nuevo</span></i>
            </a>
        </div>
        <div class="input-group input-group-sm pull-right" style="max-width: 300px;">
            <a asp-action="CrearUsuariosPrueba" asp-controller="Usuario" class="btn btn-info btn-sm">
                <i class="fa fa-plus"><span class="hidden-xs"> Crear Usuarios Prueba</span></i>
            </a>
        </div>
    </box-search>
</box-header>
<box-body table="true">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Codigo
                </th>
                <th>
                    Apellido y Nombre
                </th>
                <th>
                    Nombre de usuario
                </th>
                <th>
                    Correo electronico
                </th>
                <th>
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items.OrderBy(x => x.Id).ThenBy(x => x.Persona?.Apellido))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NormalizedUserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NormalizedEmail)
                    </td>
                    <td>

                        <a class="btn btn-primary btn-flat btn-xs" onclick="EditRoles('@item.Id')"><i class="fa fa-file-text-o"></i></a>



                        @*<a onclick="editaDJEstado(@item.Id)" title="Editar" class="btn btn-primary btn-xs"><i class="fa fa-file-text-o"></i></a>*@
                        <!--<a onclick="Eliminar('item.Id')" title="Eliminar" class="btn btn-info btn-xs btn-danger"><i class="fa fa-trash"></i></a>-->
                        @*<a asp-action="Delete"
                               asp-route-id="@item.Id"
                               title="Eliminar"
                               confirm=""
                               confirm-icon="Danger"
                               class="btn btn-danger btn-xs">
                                <i class="fa fa-trash"></i>
                            </a>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>

</box-body>
<box-footer page-update-div="tablaUsuario"></box-footer>
<modal title="Editar roles" function="EditRoles" load-url="@Url.Action("_Assign", "SecurityRoles")"></modal>


