﻿@using Microsoft.AspNetCore.Mvc
@using Newtonsoft.Json
@{ ViewBag.Title = "Iniciar Sesión"; }

@{
    ViewBag.Title = "Iniciar Sesión";
    ;}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title style="font-family: 'Helvetica'!important; text-align: left !important; font-size: 34px !important; margin-left: 4%;">SIBAPIN - @ViewBag.Title</title>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    @await Component.InvokeAsync("RegisterCommonsOffline")

    <link href="~/css/login.css" rel="stylesheet" />

</head>

<body class="hold-transition login-page" style="background-color: #37465a;
        background-image: url(/img/sibapin1920x1080.png);
        background-attachment: fixed;
        background-repeat: no-repeat;
        height: 100vh;">
    <div class="website-logo">
        <a href="https://www.cge.mil.ar:81/api/intranetea/UltimoVideoYoutube">
            <div class="logo" style="max-width:unset; min-width:unset;">
                <img class="logo-size" src="" style="width: 250px;">
            </div>
        </a>
    </div>
    <div class="row">
        <div class="col-md-8 login-panel-left">
            @*<img class="login-logo" src="/img/sibapin1920x1080.png" style="">*@
        </div>
        <div class="col-md-4 login-panel-right">
            <div class="login-box">
                <br />
                <div class="login-logo">
                    <a href="/Home/Index" style="color: white;font-size: 24px;"><b>SIBAPIN</b></a>
                </div>
                <!-- /.login-logo -->
                <div class="login-box-body no-pad-top" style="border-radius: 10px;opacity: 0.9;background-color: #37465a !important;">

                    @RenderBody()

                    @*<div class="form-button">
                        <button onclick="window.location.href = 'https://www.cge.mil.ar/cge2020';" class="ibtn login-back-button">
                            Volver al Portal
                        </button>
                    </div>*@
                </div>
                <!-- /.login-box-body -->
            </div>
            <!-- /.login-box -->
        </div>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>

<!--<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIBAPIN - ViewBag.Title</title>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    await Component.InvokeAsync("RegisterCommonsOffline")

    <link href="~/css/login.css" rel="stylesheet" />

</head>
<body class="hold-transition login-page" style="background-image: url(/images/login.jpg);
                                                background-size:     cover;
                                                background-repeat:   no-repeat;
                                                background-position: center center;
                                                height: auto;
                                                ">
    <div class="login-box bg-info bg-light-blue-active" style="border-radius: 10px">
        <br />
        <div class="login-logo">
            <a href="/Home/Index" style="color: white"><b>SIBAPIN</b></a>
        </div>-->
<!-- /.login-logo -->
<!--<div class="login-box-body bg-light-blue-active no-pad-top" style="border-radius: 10px;">

    RenderBody()

</div>-->
<!-- /.login-box-body -->
<!--</div>-->
<!-- /.login-box -->
<!--RenderSection("scripts", required: false)
</body>
</html>-->
