﻿@using Commons.Models
@model List<Core.Data.Persona>

<box color="Info">
    <box-header title="Listado de Personas">
        <div class="input-group input-group-sm pull-right" style="max-width: 300px;">
            <a asp-controller="Personas" asp-action="Create" onclick="" class="btn btn-info btn-sm">
                <i class="fa fa-plus"><span class="hidden-xs"> Agregar </span></i>
            </a>
        </div>
    </box-header>
    <box-body table="true" style="padding-inline-start">
        <table id="listadoDePersonas" class="table table-bordered" cellspacing="0" cellpadding="7" width="100%">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>DNI</th>
                    <th>Edad</th>
                    <th>Fecha de nacimiento</th>
                    <th>Telefono</th>
                    <th>Localidad</th>
                    <th>Calle</th>
                    <th>Nro Calle</th>
                    <th>Acciones</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td scope="col">@item.Nombre</td>
                        <td scope="col">@item.Apellido</td>
                        <td scope="col">@item.Dni</td>
                        <td scope="col">@item.Edad</td>
                        <td scope="col">@item.FechaNacimiento.ToShortDateString()</td>
                        <td scope="col">@item.Telefono</td>
                        <td scope="col">@item.Localidad</td>
                        <td scope="col">@item.Calle</td>
                        <td scope="col">@item.NroCalle</td>
                        <td>
                            <a title="ver imagen de perfil" onclick="ImagenPerfil('@item.Id')" class="btn btn-warning btn-xs"><i class="fa fa-image"></i></a>
                            <a title="Detalle Persona" asp-action="DetallePersona" asp-controller="Personas" asp-route-Id="@item.Id" class="btn btn-success btn-xs"><i class="fa fa-user"></i></a>
                            <a asp-action="Edit" asp-controller="Personas" asp-route-Id="@item.Id" title="Modificar Persona" onclick="" class="btn btn-info btn-xs"><i class="fa fa-eye"></i></a>
                            <a asp-action="DeletePersona" asp-controller="Personas" asp-route-id="@item.Id" confirm="¿Está seguro que desea Borrar la persona?" confirm-icon="Success" title='Borrar' data-toggle='tooltip' class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </box-body>
</box>

<modal title="Foto de perfil" callback-modal="true" function="ImagenPerfil" load-url="/Personas/VerFotoDePerfil/" size="Medium"></modal>
<script>
    $(document).ready(function () {
        $('#listadoDePersonas').DataTable({
        "responsive": false,
            columnDefs: [{
                targets: "_all",
                sortable: false
            }],
            "order": [3, 'asc'],
            "language": {
                'url': '@Url.Content("~/lib/arg.json")'
            }
        });
    });

</script>