﻿@model Core.Data.Persona
@using Core.Services
@{
    ViewData["Title"] = "DetallePersona";
}

<div class="row">
    <div class="col-md-4">
        <div class="box box-info">
            <div class="box-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 titulo-detalle"><strong><i class="fa fa-user margin-r-5"></i> Foto de perfil </strong></div>
                        <div class="col-md-12">
                            <p> <img class="profile-user-img img-responsive img-circle" src="@ImagenService.ObtenerImagen(Model.Perfil)" style="width:35%;" alt="Foto de perfil"></p>
                        </div>
                        @*<div class="col-md-8">
                            <div class="row">
                                <div class="col-md-12">
                                    <h4 class="text-center"> @Model.Nombre</h4>
                                </div>
                                <div class="col-md-12 text-center">
                                    <span>DNI - @Model.Dni</span><br>
                                    <span>@Model.FechaNacimiento.ToShortDateString() - @Model.Edad años</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <h4>Hermano Rios de Vida Claypole</h4>
                                </div>
                            </div>
                        </div>*@
                    </div>
                    <div class="row">
                        <div class="col-md-10"><strong><i class="fa fa-map-marker margin-r-5"></i> Datos personales </strong></div>
                        <div class="col-md-2">
                        </div>
                        <br>
                        <div class="col-md-12">
                            <p class="text-muted">
                            </p><div class="row">
                                <div class="col-md-12">
                                    <span>Nombre y apellido <a class="pull-right">@Model.Nombre  @Model.Apellido</a></span><br>
                                </div>
                                <div class="col-md-12">
                                    <span>Fecha de nacimiento<a class="pull-right">@Model.FechaNacimiento.ToShortDateString()</a></span>
                                </div>
                                <div class="col-md-12">
                                    <span>Edad <a class="pull-right">@Model.Edad</a></span>
                                </div>
                            </div>
                            <p></p>
                        </div>
                    </div>

                    <hr class="separador-detalle">

                    <div class="row">
                        <div class="col-md-8"><strong><i class="fa fa-book margin-r-5"></i>Número de contacto</strong></div>
                        <div class="col-md-4">
                        </div>
                        <br>
                        <div class="col-md-12">
                            <p class="text-muted">
                            </p><div class="row">
                                <div class="col-md-12">
                                    <span>Telefono<a class="pull-right">@Model.Telefono</a></span><br>
                                </div>
                            </div>
                            <p></p>
                        </div>
                    </div>
                    <hr class="separador-detalle">

                    <div class="row">
                        <div class="col-md-10"><strong><i class="fa fa-map-marker margin-r-5"></i> Domicilio </strong></div>
                        <div class="col-md-2">
                        </div>
                        <br>
                        <div class="col-md-12">
                            <p class="text-muted">
                            </p><div class="row">
                                <div class="col-md-12">
                                    <span>Calle y Altura <a class="pull-right">Calle @Model.Calle  @Model.NroCalle</a></span><br>
                                </div>
                                <div class="col-md-12">
                                    <span>Provincia <a class="pull-right">Buenos Aires</a></span>
                                </div>
                                <div class="col-md-12">
                                    <span>Localidad <a class="pull-right">@Model.Localidad</a></span>
                                </div>
                            </div>
                            <p></p>
                        </div>
                    </div>
                    <hr class="separador-detalle">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="nav-tabs-custom" style="cursor: move;">
            <ul class="nav nav-tabs  ui-sortable-handle">
                @*<li class="" id="pacienteLi"><a href="#Participantes" onclick="OcultarMapa()" data-toggle="tab" aria-expanded="true">Participantes &nbsp; <i class="fa fa-users"></i></a></li>
                    <li class="" id="contactoLi"><a href="#mapaPrueba" onclick="ClickMapa('@Model.Id')" data-toggle="tab" aria-expanded="false">Mapa &nbsp; <i class="fa fa-map"></i></a></li>*@
                <li class="active" id="actividadesLi"><a href="#Actividades" onclick="" data-toggle="tab" aria-expanded="true">Actividades pendientes &nbsp; <i class="fa fa-users"></i></a></li>
                <li class="" id="actividadesHisLi"><a href="#ActividadesHis" onclick="" data-toggle="tab" aria-expanded="true">Actividades históricas &nbsp; <i class="fa fa-users"></i></a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="Actividades" style="position: relative; max-height: 100%;">
                    <load id="_ListadoDeActividades" load-url="/Actividades/_ListadoDeActividades/@Model.Id">
                    </load>
                </div>
                <div class="tab-pane" id="ActividadesHis" style="position: relative; max-height: 100%;">
                    <load id="_ListadoDeActividades" load-url="/Actividades/_ListadoDeActividades/@Model.Id">
                    </load>
                </div>
            </div>
        </div>
    </div>
</div>