﻿@model Core.Data.Persona

@{
    ViewData["title"] = "Datos personales";
}

<style>
    .title {
        text-align: center;
        font-size: 25px;
        font-weight :500;
    }
</style>

<box color="Warning">
    <div class="">
        <h2 class="title">Modificando datos personales</h2>
    </div>
    <hr/>
    <div class="row">
        <div class="col-sm-12">
            <form method="post" asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group col-md-4">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Apellido" class="control-label"></label>
                    <input asp-for="Apellido" class="form-control" />
                    <span asp-validation-for="Apellido" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label">DNI</label>
                    <input asp-for="Dni" class="form-control" />
                    <span asp-validation-for="Dni" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Edad" class="control-label"></label>
                    <input asp-for="Edad" class="form-control" />
                    <span asp-validation-for="Edad" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label">Fecha de nacimiento</label>
                    <input asp-for="FechaNacimiento" class="form-control" />
                    <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label">Teléfono</label>
                    <input asp-for="Telefono" class="form-control" />
                    <span asp-validation-for="Telefono" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label">Localidad</label>
                    <input asp-for="Localidad" class="form-control" />
                    <span asp-validation-for="Localidad" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label">Calle</label>
                    <input asp-for="Calle" class="form-control" />
                    <span asp-validation-for="Calle" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label">Nro de la Calle</label>
                    <input asp-for="NroCalle" class="form-control" />
                    <span asp-validation-for="NroCalle" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label">Seleccione una foto de perfil:</label>
                    <input id="archivo" type="file" name="file" />
                    <span id="alerta" class="text-danger"></span>
                </div>
                <hr />
                <div class="col-md-12 ">
                    <div class="form-group pull-right">
                        <input type="submit" value="Guardar" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </div>
    </div>

</box>
<script>
    $("#CargarArchivo").on("click", function () {
        $("#alerta")[0].innerText = "";
        event.preventDefault();
        let ext = $("#archivo").val().slice(($("#archivo").val().lastIndexOf(".") - 1 >>> 0) + 2);
        if (ext == "jpg") {
            $("#formularioArchivo").submit();
        } else {
            $("#alerta")[0].innerText = "Debe subir un archivo con la extensión JPG.";
        }
    });
</script>
