﻿<header class="main-header">
    <!-- Logo -->
    <a asp-area="" asp-controller="Home" asp-action="Index" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>SB</b></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>SIBAPIN</b></span>
    </a>
    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a asp-area="" asp-controller="Layout" asp-action="SwitchSidebarCollapse" data-ajax="true" method="post" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                @await Component.InvokeAsync("MenuUser")
            </ul>
        </div>
    </nav>
</header>