﻿@using Core.Services
@model List<Core.Models.Actividades>
@{
    ViewData["Title"] = "Home Page";
}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="~/fullCalendar/lib/main.css" rel="stylesheet" />


<div class="row">
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>200</h3>

                <p>Personas</p>
            </div>
            <div class="icon">
                <i class="ion ion-bag"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
            <div class="inner">
                <h3>@ViewBag.Actividades<sup style="font-size: 20px"></sup></h3>

                <p>Actividades</p>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>

        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>0</h3>

                <p>Noticias</p>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
            <div class="inner">
                <h3>0</h3>

                <p>Lideres</p>
            </div>
            <div class="icon">
                <i class="ion ion-pie-graph"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
</div>

<!-- Modal -->
<div class="modal fade modal-act" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Listado de actividades</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 id="modalTitle" class="modal-title"></h4>
            </div>
            <div id="modalBody" class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Cerrar</button>
                <a class="btn btn-primary" onclick="guardarEvento()">Aceptar</a>
            </div>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-md-6 actividades">
        <box color="Warning">
            <div>
                <h3 style="text-align:center;">Lista de Actividades del mes</h3>
            </div>
            <div class="owl-carousel owl-theme custom1" style="padding:0px;margin:0px;">
                @foreach (var item in Model)
                {
                    <div class="item"><img src="@ImagenService.ObtenerImagen(item.Imagen)" alt="Alternate Text" style="width:100%;" /></div>
                }
            </div>
        </box>
    </div>
    <div class="col-md-6">
        <box color="Warning">
            <div class="col-md-12">
                <div id="calendar"></div>
            </div>
        </box>
    </div>

</div>
<script src="https://momentjs.com/downloads/moment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="~/fullCalendar/lib/main.js"></script>
<script src="~/fullCalendar/lib/locales/es.js"></script>
<script>

    $(function () {
        calendar();
        slider();
    });

    function slider() {
        $('.custom1').owlCarousel({
            animateOut: 'slideOutDown',
            animateIn: 'flipInX',
            items: 1,
            margin: 30,
            stagePadding: 30,
            smartSpeed: 450,
            autoplay: true,
            autoplayTimeout: 1000,
            autoplayHoverPause: true
        });
    }

    function calendar() {

        var events = [];
        $.get("/Home/FindAllEvents", function () {
            alert("success");
        }).done(function (data) {
            var events = [];
            for (var i = 0; i < data.length; i++) {
                events.push({
                    'title': `${data[i].title}`,
                    'start': moment(data[i].start).format("YYYY-MM-DD"),
                    'end': moment(data[i].end).format("YYYY-MM-DD"),
                    'color': `${data[i].color}`,
                    'editable': false
                });
            }

            var calendarEl = document.getElementById('calendar');
            calendar = new FullCalendar.Calendar(calendarEl, {
                locale: 'es',
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
                },
                buttonIcons: true,
                /*weekNumbers: true,*/
                navLinks: true, // can click day/week names to navigate views
                editable: true,
                dayMaxEvents: true,
                eventClick: function (event) {
                    $("#modalTitle").html(event.title);
                    $("#modalBody").html(event.description);
                    $("#eventUrl").html(event.url);
                    $("#exampleModal").modal('show');
                    console.log(info.event);
                },
                events: events

            });
            calendar.render();
        });
    }
</script>


@*<script>


                //$.each(data, function (idx,task) {
                //    events.push({
                //        'title': task.title,
                //        'start': task.start,
                //        'end': task.end,
                //        'editable': true
                //    });
                //});
                //for (var i = 0; i < data.length; i++) {
                //    events.push({
                //        'title': data[i].title,
                //        'start': data[i].start,
                //        'end': data[i].end,
                //        'editable': true
                //    });
                //}
                //events.push({
                //    'title': "hola",
                //    'start': "2021-11-09",
                //    'end': "2021-11-10",
                //    'editable': true
                //});
                //alert(data[0].start);
                //console.log(data[0].start);

        //function clickDato() {
        //    alert("prueba");
        //    alert($("#dato").val());
        //}
        var calendar = null;
        var Alleventos = null;


        document.addEventListener('DOMContentLoaded', function () {
            Events();
        });

                                    $(document).



        $(".actividades").show("slow", function () {
            $('.custom1').owlCarousel({
                animateOut: 'slideOutDown',
                animateIn: 'flipInX',
                items: 1,
                margin: 30,
                stagePadding: 30,
                smartSpeed: 450,
                autoplay: true,
                autoplayTimeout: 1000,
                autoplayHoverPause: true
            });
        });

        function Events() {
            $.ajax({
                url: "/Home/FindAllEvents",
                type: "GET",
                success: function (data) {

                    alert("Volvio");
                    var calendarEl = document.getElementById('calendar');
                    calendar = new FullCalendar.Calendar(calendarEl, {
                        locale: 'es',
                        headerToolbar: {
                            left: 'prev,next today',
                            center: 'title',
                            right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
                        },
                        buttonIcons: true,
                        weekNumbers: true,
                        navLinks: true, // can click day/week names to navigate views
                        editable: true,
                        dayMaxEvents: true,
                        eventClick: function (event) {
                            $("#modalTitle").html(event.title);
                            $("#modalBody").html(event.description);
                            $("#eventUrl").html(event.url);
                            $("#exampleModal").modal('show');
                            console.log(info.event);
                        },
                        events: 'https://localhost:44360/Home/FindAllEvents'

                    });
                    calendar.render();
                }
            });
        }

    </script>*@


<!--<div class="row" style="margin-left:10px">
    if (Model.Count > 0)
    {
        <hr />
        <div class="row">
            foreach (var actividad in Model.OrderBy(o => o.Id))
            {
                <div class="col-md-4" style="width:30%;">
                    <div class="box box-primary" style="width:100%;">
                        <div class="box-header with-border">
                            <h3 class="box-title">actividad.Descripcion - Fecha de inicio : actividad.FechaInicio.ToShortDateString()</h3>
                            <span class="label label-primary pull-right"><i class="fa fa-html5"></i></span>
                        </div>-->
<!-- /.box-header -->
<!--<div class="box-body">
    <div>
        <img src="ImagenService.ObtenerImagen(actividad.Imagen)" class="img-thumbnail" style="width:100%;height:80%;" />
    </div>
    <div>
        <h5 class="text-center"></h5>
        <a asp-controller="Actividades" asp-action="InformacionActividades" class="btn btn-success" style="border-radius:2px" asp-route-id="actividad.Id">Mas información</a>
    </div>
</div>-->
<!-- /.box-body -->
<!--</div>--><!-- /.box -->
<!--</div>--><!-- /.col -->
<!--}
        </div>
    }
</div>-->
