﻿@using Commons.Identity.Extensions
@using Commons.Identity.Services
@using Iglesia.Entities
@inject SignInService<Usuario> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="dropdown user user-menu">
        <!-- Menu Toggle Button -->
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <!-- The user image in the navbar-->
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRxQ-XnyKmKP11SQacp2IutD8Njt89ze2EIIN9AAtrEP5g83jI" class="user-image" alt="ui">
            <!-- hidden-xs hides the username on small devices so only the image appears. -->
            <span class="hidden-xs">@User.GetUserName()</span>
        </a>

        <ul class="dropdown-menu">
            <!-- The user image in the menu -->
            <li class="user-header">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRxQ-XnyKmKP11SQacp2IutD8Njt89ze2EIIN9AAtrEP5g83jI" class="img-circle" alt="User Image" />
                <p>

                    @*@CommonsCps.Services.CpsSession.Persona?.GetGrado()?.CodigoGrado @CommonsCps.Services.CpsSession.Persona?.Nombre @CommonsCps.Services.CpsSession.Persona?.Apellido.ToUpper()
                    <small>@CommonsCps.Services.CpsSession.Persona?.GetUnidad()?.Abreviatura</small>*@
                    <small>@User.GetProfileTypeString() - @User.Identity.Name</small>
                </p>
            </li>
            <li class="user-footer">
                <div class="pull-left">
                    <a href="#" onclick="UserDetails()" class="btn btn-primary btn-flat">Perfil</a>
                </div>
                <div class="pull-right">
                    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/Home/Index" method="post" id="logoutForm">
                        <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-danger btn-flat">Salir</a>
                    </form>
                </div>
            </li>
        </ul>
    </li>
}
else
{
    <li>
        <ul class="nav navbar-nav navbar-right" style="margin-right:0px;">
            <li><a asp-area="Identity" asp-page="/Account/Login">Iniciar sesion</a></li>
        </ul>
    </li>
}