﻿@using Commons.Models
@model List<Core.Models.Actividades>

<box color="Info">
    <box-header title="Listado de Actividades">
        <div class="input-group input-group-sm pull-right" style="max-width: 300px;">
            <a onclick="Actividad()" class="btn btn-info btn-sm">
                <i class="fa fa-plus"><span class="hidden-xs"> Agregar </span></i>
            </a>
        </div>
    </box-header>
    <box-body table="true" style="padding-inline-start">
        <table id="listadoDeActividades" class="table table-bordered" cellspacing="0" cellpadding="7" width="100%">
            <thead>
                <tr>
                    <th>Actividad</th>
                    <th>Observaciones</th>
                    <th>Fecha de Inicio</th>
                    <th>Fecha de Finalizacion</th>
                    <th>Acciones</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td scope="col">@item.Descripcion</td>
                        <td scope="col">@item.Observaciones</td>
                        <td scope="col">@item.FechaInicio.ToShortDateString()</td>
                        <td scope="col">@item.FechaFinalizado.ToShortDateString()</td>
                        <td>
                            <a title="cargar imagen de la actividad" onclick="AgregarImagen('@item.Id')" class="btn btn-primary btn-xs"><i class="fa fa-file"></i></a>
                            <a title="Ver imagen de la actividad" onclick="VerImagen('@item.Id')" class="btn btn-success btn-xs"><i class="fa fa-image"></i></a>
                            <a title="Modificar actividad" onclick="editarActividad('@item.Id')" class="btn btn-warning btn-xs"><i class="fa fa-eye"></i></a>
                            <a asp-action="Delete" asp-route-id="@item.Id"
                               confirm-icon="Danger" confirm-no="Cancelar"
                               confirm-yes="Borrar" confirm="¿Esta seguro de borrar esta actividad?"
                               class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </box-body>
</box>


<modal title="Nueva actividad" callback-modal="true" function="Actividad" load-url="/Actividades/Create/" size="Medium"></modal>
<modal title="Editar actividad" callback-modal="true" function="editarActividad" load-url="/Actividades/Edit/" size="Medium"></modal>
<modal title="Agregar imagen a la actividad" callback-modal="true" function="AgregarImagen" load-url="/Actividades/_CargaArchivo/" size="Medium"></modal>
<modal title="Ver imagen a la actividad" callback-modal="true" function="VerImagen" load-url="/Actividades/ViewFile/" size="Large"></modal>
@*<modal title="Detalle modelo" callback-modal="true" function="DetalleMovimiento" load-url="/Admin/Modelo/_DetailsMovement/" size="Medium"></modal>*@

<script>
    $(document).ready(function () {
        $('#listadoDeActividades').DataTable({
        "responsive": false,
            columnDefs: [{
                targets: "_all",
                sortable: false
            }],
            "order": [3, 'asc'],
            "language": {
                'url': '@Url.Content("~/lib/arg.json")'
            }
        });
    });

</script>