﻿@model Core.Models.Actividades

@{
    ViewData["Title"] = "Crear Actividad";
}

<link href="~/colorPicker/Color-Picker-Plugin-jQuery-MiniColors/jquery.minicolors.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observaciones" class="control-label"></label>
                <input asp-for="Observaciones" class="form-control" />
                <span asp-validation-for="Observaciones" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaInicio" class="control-label"></label>
                <input asp-for="FechaInicio" class="form-control" />
                <span asp-validation-for="FechaInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaFinalizado" class="control-label"></label>
                <input asp-for="FechaFinalizado" class="form-control" />
                <span asp-validation-for="FechaFinalizado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Seleccione un color para el calendario :</label>
                <input type="text" value="#000000" class="form-control" name="color" id="colorName" />
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-danger pull-left" data-dismiss="modal" data->Cerrar</button>
                <input type="submit" value="Aceptar" class="btn btn-primary pull-right" />
            </div>
        </form>
    </div>
</div>


<script src="~/colorPicker/Color-Picker-Plugin-jQuery-MiniColors/jquery.minicolors.js"></script>
<script>
    $("#colorName").minicolors({
        animationEasing: 'swing'
    });
</script>