﻿@using Commons.Models
@model List<Core.Models.Actividades>

<box color="Info">
    <box-header title="Listado de Actividades solicitadas">
    </box-header>
    <box-body table="true" style="padding-inline-start">
        <table id="listadoDeActividades" class="table table-bordered" cellspacing="0" cellpadding="7" width="100%">
            <thead>
                <tr>
                    <th>Actividad</th>
                    <th>Observaciones</th>
                    <th>Fecha de Inicio</th>
                    <th>Fecha de Finalizacion</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td scope="col">@item.Descripcion</td>
                        <td scope="col">@item.Observaciones</td>
                        <td scope="col">@item.FechaInicio.ToShortDateString()</td>
                        <td scope="col">@item.FechaFinalizado.ToShortDateString()</td>
                        <td>
                            <a title="Solicitar Turno" class="btn btn-danger btn-sm">Solicitar Turno</a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </box-body>
</box>


<modal title="Nueva actividad" callback-modal="true" function="Actividad" load-url="/Actividades/Create/" size="Medium"></modal>

@*<modal title="Detalle modelo" callback-modal="true" function="DetalleMovimiento" load-url="/Admin/Modelo/_DetailsMovement/" size="Medium"></modal>*@

<script>
    $(document).ready(function () {
        $('#listadoDeActividades').DataTable({
        "responsive": false,
            columnDefs: [{
                targets: "_all",
                sortable: false
            }],
            "order": [3, 'asc'],
            "language": {
                'url': '@Url.Content("~/lib/arg.json")'
            }
        });
    });

</script>