﻿@model Core.Models.Actividades
@{
    ViewData["Title"] = "Solicitar turnos";
}
<div class="row">
    <div class="col-md-12">
        <div class="box box-danger" id="box-filtros">
            <div class="box-header with-border">
                <h3 class="box-title">Ingrese la actividad que desea anotarse</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">

                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Actividades</label>
                            <select id="actividadId" name="actividadId" class="form-control" asp-for="Descripcion" asp-items="@ViewBag.Actividades" title="Seleccione la actividad que desea anotarse">
                                <option selected value="0">Todos</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label></label>
                            <a class="btn btn-primary form-control" onclick="CargarListado()" id="btnBuscarComision" ><i class="fa fa-search"> Buscar turnos</i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div id="listadoCorrespondiente"></div>
    </div>
    <div class="col-md-6">
        <box color="Info">
            <box-header title="Mis turnos asignados">

            </box-header>
            <box-body>
                <div class="alert alert-danger" role="alert">
                    Curso Crecer
                </div>
                <div class="alert alert-warning" role="alert">
                    Reunion de adolescentes
                </div>
                <div class="alert alert-info" role="alert">
                    Reunion de mujeres
                </div>
                <div class="alert alert-success" role="alert">
                    Desayuno de mujeres
                </div>
            </box-body>
        </box>
    </div>
</div>


<script>

    $(document).ready(function () {
        CargarListado()
    });

    function CargarListado() {
        $.ajax({
            url: "/Turnos/_ListadoDeActividades",
            data: {
                actividadId: $("#actividadId").val()
            },
            type: "GET",
            success: function (data) {
                console.log(data);
                $("#listadoCorrespondiente").html(data);
                //$("#listadoCorrespondiente").html("aaaa");
            }
        });
    }

</script>