﻿@using Commons.Identity.Extensions
@using Commons.Models
@model IEnumerable<SidebarMenu>

<aside class="main-sidebar" style="
        background-repeat: round;
        /*background-attachment: roun;*/
">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!--
        <div class="user-panel">
            <div class="pull-left image">
                <img src="https://ya-webdesign.com/images/vector-market-animated-2.gif" class="img-circle" alt="Institute Image">
            </div>
            <div class="pull-left info">
                <p>@User.GetWorkSpaceName()</p>
                <a href="#" onclick="ChangeWorkSpace()"><i class="fa fa-refresh text-muted"></i> Cambiar</a>
            </div>
        </div>
        -->
        <!-- search form (Optional) -->
        @*<form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>*@
        <!-- /.search form -->
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree">
            @foreach (var menu in Model as IEnumerable<SidebarMenu>)
            {
                if (menu.Type == SidebarMenuType.Header)
                {
                    
                }
                else if (menu.Type == SidebarMenuType.Link)
                {
                    var active = string.Empty;
                    if (menu.URLPath != "/" && @Context.Request.Path.Value.Contains(menu.URLPath))
                    {
                        active = "active";
                    }
                    <li class="@active">
                        <a href="@menu.URLPath">
                            <i class="@menu.IconClassName"></i>
                            <span>@menu.Name</span>
                            <span class="pull-right-container">
                                @{
                                    if (menu.LinkCounter.Item1 > 0)
                                    {
                                        <small class="label pull-right bg-red">@menu.LinkCounter.Item1</small>
                                    }
                                    if (menu.LinkCounter.Item2 > 0)
                                    {
                                        <small class="label pull-right bg-green">@menu.LinkCounter.Item2</small>
                                    }
                                    if (menu.LinkCounter.Item3 > 0)
                                    {
                                        <small class="label pull-right bg-blue">@menu.LinkCounter.Item3</small>
                                    }
                                }
                            </span>
                        </a>
                    </li>

                }
                else if (menu.Type == SidebarMenuType.Tree)
                {
                    var active = string.Empty;
                    if (menu.TreeChild.Any(x => @Context.Request.Path.Value.Contains(x.URLPath)))
                    {
                        active = "active";
                    }

                    <li class="treeview @active">
                        <a href="#">
                            <i class="@menu.IconClassName"></i> <span>@menu.Name</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            @foreach (SidebarMenu subMenu in menu.TreeChild)
                            {
                                active = string.Empty;
                                if (Context.Request.Path.Value.Contains(subMenu.URLPath))
                                {
                                    active = "active";
                                }
                                <li class="@active"><a href="@subMenu.URLPath"><i class="@subMenu.IconClassName"></i> @subMenu.Name</a></li>
                            }
                        </ul>
                    </li>
                }
            }
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>
