﻿<footer class="no-print main-footer">
    <div class="pull-right hidden-xs">
        "<strong>@DateTime.Now.Year</strong> - AÑO DE HOMENAJE AL PREMIO NOBEL DE MEDICINA DR. CÉSAR MILSTEIN"
    </div>
    Centro de Produccion de Software
</footer>