﻿@page
@model LoginModel

@{
    ViewData["Title"] = "Iniciar sesión";
}

@*<h1>@ViewData["Title"]</h1>
    <div class="row">
        <div class="col-md-4">
            <section>
                <form id="account" method="post">
                    <h4>Use a local account to log in.</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Log in</button>
                    </div>
                    <div class="form-group">
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                        </p>
                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                        </p>
                    </div>
                </form>
            </section>
        </div>
        <div class="col-md-6 col-md-offset-2">
            <section>
                <h4>Use another service to log in.</h4>
                <hr />
                @{
                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                    {
                        <div>
                            <p>
                                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                for details on setting up this ASP.NET application to support logging in via external services.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins)
                                    {
                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
            </section>
        </div>
    </div>*@

    <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" role="form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <p class="login-box-msg">@ViewBag.Title</p>
        <div class="form-group has-feedback">
            <input asp-for="Input.Email" class="form-control" placeholder="Email" />
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="form-group has-feedback">
            <input asp-for="Input.Password" class="form-control" placeholder="Contraseña" />
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>

        <div class="row">
            <div class="col-xs-8" >
                <div class="checkbox">
                    <label class="">
                        <a class="text-white" asp-area="Identity" asp-page="/Account/Register" style="color:white;">Registrarse</a>
                    </label>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-xs-4 pull-right">
                <button type="submit" class="btn btn-primary btn-block btn-flat">Ingresar</button>
            </div>
            <!-- /.col -->
        </div>
        @*<a asp-page="./ForgotPassword">Recuperar Constraseña</a> <br />*@
    </form>


<partial name="_ValidationScriptsPartial" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
